BretanoWebMiddle/Orkidea.Bretano.WebMiddle.FrontEnd/Service References/WebMiddleBackEnd/WSSAP1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://WSSAP" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSSAP" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://WSSAP" location="http://localhost:60593/WSSAP.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_WSSAP" type="i0:WSSAP">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAuthorizationStatusList">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetAuthorizationStatusList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessPartners">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetBusinessPartners" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessPartnersBySalesPerson">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetBusinessPartnersBySalesPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessPartnersByIds">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetBusinessPartnersByIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessPartner">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetBusinessPartner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessPartnerCreditStatus">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetBusinessPartnerCreditStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAllBusinessPratnerGroup">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetAllBusinessPratnerGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddBusinessPartner">
      <soap:operation soapAction="http://WSSAP/WSSAP/AddBusinessPartner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateBusinessPartner">
      <soap:operation soapAction="http://WSSAP/WSSAP/UpdateBusinessPartner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddBusinessPartnerContact">
      <soap:operation soapAction="http://WSSAP/WSSAP/AddBusinessPartnerContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetContactList">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetContactList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAddressList">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetAddressList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentAgeList">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetPaymentAgeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessPartnerPropList">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetBusinessPartnerPropList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessPartnerLastPricesList">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetBusinessPartnerLastPricesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddBusinessPartnerAddress">
      <soap:operation soapAction="http://WSSAP/WSSAP/AddBusinessPartnerAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDunninTermList">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetDunninTermList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessPartnerWithholdingTaxList">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetBusinessPartnerWithholdingTaxList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddBusinessPartnerWithholdingTax">
      <soap:operation soapAction="http://WSSAP/WSSAP/AddBusinessPartnerWithholdingTax" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddSalesOrder">
      <soap:operation soapAction="http://WSSAP/WSSAP/AddSalesOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ProcessBatchTransaction">
      <soap:operation soapAction="http://WSSAP/WSSAP/ProcessBatchTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ListSaleOrders">
      <soap:operation soapAction="http://WSSAP/WSSAP/ListSaleOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSingleOrder">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetSingleOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOrderNum">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetOrderNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <soap:operation soapAction="http://WSSAP/WSSAP/CancelOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddQuotation">
      <soap:operation soapAction="http://WSSAP/WSSAP/AddQuotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetItems">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetItemList">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetItemList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetItem">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetItemStockLevel">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetItemStockLevel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetItemPrice">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetItemPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSalesTaxCodeList">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetSalesTaxCodeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetWithholdingTax">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetWithholdingTax" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSingleTaxCode">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetSingleTaxCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCurrencyList">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetCurrencyList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentSeriesList">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetDocumentSeriesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentSeriesSingle">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetDocumentSeriesSingle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetSalesPersonList">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetSalesPersonList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentTermList">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetPaymentTermList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCountryList">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetCountryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStateList">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetStateList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDistributionRulesList">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetDistributionRulesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUserDefinedFieldValuesList">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetUserDefinedFieldValuesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUdoGenericKeyValueList">
      <soap:operation soapAction="http://WSSAP/WSSAP/GetUdoGenericKeyValueList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="DataAccessFaultFault">
        <soap:fault use="literal" name="DataAccessFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSSAP">
    <wsdl:port name="BasicHttpBinding_WSSAP" binding="tns:BasicHttpBinding_WSSAP">
      <soap:address location="http://localhost:60593/WSSAP.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>